/* App.css */
.app-container {
  margin-top: 10% !important;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  /* margin-top: 20px; */
  /* max-height: 600px; */
  /* overflow-y: scroll; */
}

h1 {
  font-size: 24px;
  color: #333;
}

.message-container {
  margin-top: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.message {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
}

.message.left {
  background-color: #cce5ff;
  text-align: left;
  margin-right: auto;
}

.message.right {
  background-color: #e5ffc2;
  text-align: right;
  margin-left: auto;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
